<!DOCTYPE html>
<html>
<head>
  <title>MercatorMesonic</title>
  <%= stylesheet_link_tag    "mercator_mesonic/application", media: "all" %>
  <%= javascript_include_tag "mercator_mesonic/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
